# Ex1 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [14]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [44]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?
- DataFrame.query(expr, inplace=False, **kwargs)[source]: Boolean 표현식으로 데이터프레임의 열을 쿼리함.
- nunique(): 유일한 값들의 개수를 세줌. 이 때 각 열을 기준으로 세워줌. 따라서 특정 열만을 원하는 경우, 해당 열로 접근해야 함
- unique(): 유일한 값들을 보여줌
- apply() : 특정 열이나 행에 함수를 적용할 수 있음

In [45]:
chipo.shape

(4622, 5)

In [46]:
chipo.item_price = chipo.item_price.apply(lambda x : float(x[1:-1]))

# prices = [float(value[1 : -1]) for value in chipo.item_price]
# chipo.item_price = prices

In [47]:
# 중복된 데이터를 제거함.
chipo_filtered = chipo.drop_duplicates(['quantity','item_name','choice_description'])
chipo_filtered

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [48]:
# 개수가 오직 하나인 product만 필터링될 수 있게 함
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [49]:
chipo_one_prod.query('item_price > 10').item_name.nunique()

# chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()
# chipo_one_prod[chipo_one_prod['item_price']>10]

25

In [50]:
chipo_one_prod.query('item_price > 10').nunique()

order_id              567
quantity                1
item_name              25
choice_description    416
item_price              8
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price
- DataFrame.drop_duplicates(): 중복값 처리(unique한 1개의 key만 남기고 나머지 중복은 제거)

In [63]:
chipo_one_prod[['item_name','item_price']].sort_values(by='item_price', ascending=False)

                item_name  item_price
4313     Steak Salad Bowl       11.89
1571     Steak Salad Bowl       11.89
1816     Steak Salad Bowl       11.89
1311     Steak Salad Bowl       11.89
3749  Carnitas Salad Bowl       11.89
...                   ...         ...
53            Canned Soda        1.09
117           Canned Soda        1.09
126           Canned Soda        1.09
200           Canned Soda        1.09
228           Canned Soda        1.09

[1806 rows x 2 columns]

### Step 6. Sort by the name of the item

In [65]:
chipo_one_prod.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
721,298,1,6 Pack Soft Drink,[Nestea],6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
357,154,1,6 Pack Soft Drink,[Coke],6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
...,...,...,...,...,...
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75

### Step 7. What was the quantity of the most expensive item ordered?

In [66]:
chipo.sort_values(by='item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [69]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [70]:
len(chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)])

20